.user-profile {
    display: flex
}

.profile {
    display: flex;
    align-items: center;
}

.profile-title {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    margin-top: 0;
    margin-bottom: 55px;
}

.avatar-holder {
    margin-right: 150px;
    margin-left: 20px;
}

.user-name {
    font-family: 'Montserrat', serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 54px;
}

.user-text {
    font-family: 'Montserrat', serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 54px;
    margin: 0;
}

.user-avatar {
    width: 258px;
    height: 258px;
}

.avatar-placeholder {
    font-size: 96px;
}

.user-balance {
    color: #2AE1C0;
    font-weight: 700;
}

.buttons-holder {
    margin-top: 40px;
}

.transfer-button {
    margin-left: 20px;
    background: #ffb77f;
    color: white;
}

.transfer-button:hover {
    background: cornflowerblue;
    transition: all 0.5s linear 0s;
}

.main-button:hover {
    background: #ffb77f;
    transition: all 0.5s linear 0s;
}

.button a {
    text-decoration: none;
    color: inherit;
}

.div {
    margin-left: 100px;
    margin-top: 100px;
}