.transfers-wrapper {
    display: flex;
    justify-content: space-between;
}

.your-balance {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 54px;
}

.bonuses {
    color: #2AE1C0;
    font-weight: 800;
}

.select-field {
    color: #A9A9A9;
    border: 1px solid #000000;
    background: #fff;
    width: 467px;
    margin-bottom: 20px;
}

.field {
    color: #A9A9A9;
    border: 1px solid #000000;
    background: #fff;
    width: 467px;
    margin-bottom: 20px;
}

.field input {
    background: white;
}

:root {
    --form-control-bg-color: white;
    --select-option-hover-background: white;
}

.div {
    margin-left: 100px;
}

.div2 {
    margin-right: 200px;
}

.sendBtn {
    background: cornflowerblue;
    color: white;
    border-radius: 0%;
    font-size: 20px;
}

.sendBtn:hover {
    background: #7f87ff; 
    transition: all 0.5s linear 0s;
}